.todo-task-list-renderer {
    padding: 12px;
    color: @theme_text_color;
    border-width: 3px 3px 6px 4px;
    border-image-source: url('resource://org/gnome/todo/thumbnail-frame.png');
    border-image-slice: 3 3 6 4;
    border-image-width: 3px 3px 6px 4px;
}
